.panel{
    &.left{
        .block-bar{
            left: -4.3rem;
            right: auto !important;
        }
    }
    &.right{
        .block-bar{
            right: -4.3rem;
            left: auto !important;
        }
    }
}