
.icon{
    background-color: #2B343D;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    position: relative;
    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    svg, path{
        fill: currentColor;
    }
}