.block-content{
    position: relative;
    .field-input{
        margin-top: 0.5rem;
    }
    &.active{
        .field-input{
            padding: 0.2rem;
            border-bottom: 1px solid lightgray;
            &.dashed{
              border-bottom-style: dashed;
            }
            &:focus{
                border-color:#00c8aa;
            }
        }
    }
    &-title{
        font-size: 1.5rem;
        font-weight: bold;
        &::placeholder{
            color: black;
        }
    }
    &-desc{
        font-size: 1.2rem;
    }
    &-optional, &-detail, &-bullet{
        font-size: 1rem;
    }
    &-tag{
        background-color: #989DA6;
        color: white;
        border-radius: 0.5rem;
        width: auto;
        padding: 0.2rem;
        &::placeholder{
            color: white;
            text-align: center;
        }
    }
    &-contact{
        display: flex;
        .block-content-detail{
            width: 4.5rem;
        }
        &-group{
            margin-left: 0.5rem;
        }
    }
    &-alert{
        position: absolute;
        left: -1.7rem;
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        background-color: #D15454;
        cursor: pointer;
        img{
            height: 100%;
        }
        &:hover{
            transform: scale(135%);
        }
    }
    &-bottom{
        margin: 1.5rem 0;
        display: flex;
        align-items: center;
        .btn{
            &-icon{
                background-color: #00c8aa;
                border-radius: 50%;
            }
            margin-right: 1rem;
        }
        &-line{
            border: 1px dashed #00c8aa;
            width: 100%;
            height: 1px;
            margin-right: 1.5rem;
        }
        &-small-circle{
            border: 2px solid #00c8aa;
            border-radius: 50%;
            width: 16px;
            height: 16px;
        }
    }
}