.block-content{
    position: relative;
    &-wrapper{
        // padding: 0.5rem 0;
    }
    .field-input{
        margin-top: 0.5rem;
    }
    &.active{
        .field-input{
            padding: 0.2rem;
            border-bottom: 1px solid lightgray;
            &.dashed{
              border-bottom-style: dashed;
            }
            &:focus{
                border-color:#00c8aa;
            }
        }
    }
    &-title{
        font-size: 1.5rem;
        font-weight: bold;
        &::placeholder{
            color: black;
        }
    }
    &-desc{
        font-size: 1.2rem;
    }
    &-optional, &-detail, &-bullet{
        font-size: 1rem;
    }
    &-tag{
        background-color: #989DA6;
        color: white;
        border-radius: 0.5rem;
        width: auto;
        padding: 0.2rem;
        &::placeholder{
            color: white;
            text-align: center;
        }
    }
    &-contact{
        display: flex;
        .block-content-detail{
            width: 4.5rem;
        }
        &-group{
            margin-left: 0.5rem;
        }
    }
    &-alert{
        position: absolute;
        left: -1.6rem;
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        background-color: #D15454;
        cursor: pointer;
        img{
            height: 100%;
        }
        &:hover{
            transform: scale(135%);
        }
    }
    &-bottom{
        margin: 1.5rem 0;
        &::after{
            content: '';
            display: block;
            clear: both;
        }
        .btn{
            height: 2rem;
            width: 2rem;
            background-color: #00c8aa;
            border-radius: 50%;
            position: relative;
            float: left;
            &-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                height: 80%;
            }
            &.trash{
                background-color: #D15454;
            }
            &.arrow-up{
                background-color: #2CACD5;
            }
            &.arrow-down{
                background-color: #2CACD5;
            }
            margin-right: 1rem;
        }
        &-box{
            height: 2rem;
            position: relative;
            &.line{
                width: calc(100% - 5.5rem);
                float: left;
                margin-right: 1.5rem;
            }
            &.circle{
                float: left;
            }
        }
        &-line{
            border: 1px dashed #00c8aa;
            height: 1px;
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
        }
        &-small-circle{
            border: 2px solid #00c8aa;
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}