.cv-template{
    padding-top: 7.5rem;
    .mini-menu{
        width: 1192px;
        margin: 0 auto;
        position: relative;
        padding: 1rem 0;
        text-align: center;
    }
    .title{
        position: absolute;
        left: 0;
    }
}