.date{
    &-container{
        width: 12rem;
        display: inline-block;
        margin-left: 0.25rem;
        &.editing{
            width: 15rem;
        }
    }
    .field{
        .date{
            &-month{
                margin-right: 2px;
                font-size: 1.1rem;
                &.editing{
                    width: 1.7rem;
                }
            }
            &-year{
                font-size: 1.1rem;
                &.editing {
                    width: 3rem !important;
                }
            }
        }
    }
    .date{
        &-group{
            float: left;
            display: flex;
        }
        &-field{
            float: left;
        }
        &-divider{
            float: left;
            margin-top: 8px;
            padding: 0 0.25rem;
            font-size: 1.1rem;
            &.editing{
                margin-top: 10px;
            }
        }
        &-group-closing{
            float: left;
            font-size: 1.1rem;
            margin-top: 6px;
            &.left{
                margin-right: 5px;
            }
            &.right{
                margin-left: 3px;
                &.editing{
                    margin-left: -5px;
                }
            }
            &.editing{
                margin-top: 10px;
            }
        }
        &-group-divider{
            width: 5px;
            float: left;
            margin-top: 8px;
            font-size: 1.1rem;
            margin-right: 0.2rem;
            &.editing{
                padding: 0 0.25rem;
                margin-top: 12px;
            }
        }
    }
}