.board{
    min-height: 300px;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    .drag-n-drop{
        padding: .5rem;
        display: grid;
        width: 100%;
        grid-template-columns: 300px 300px;
    }
    .dnd-group{
        background-color: #49505e;
        border-radius: 5px;
        padding: .5rem;
        margin-right: .5rem;
        margin-bottom: 1rem;
    }
    .dnd-item{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        border-radius: 5px;
        background-color: white;
        color: #282c34;
        cursor: pointer;
        &:not(:last-of-type){
            margin-bottom: .5rem;
        }
    }
    .group-title{
        color: white;
        margin-bottom: .5rem;
    }
    .current{
        background-color: #282c34;
    }
}