.settings{
    max-height: calc(100vh - 5rem);
    max-width: 400px;
    margin: 0 auto;
    &-wrapper{
        background-color: #425061;
        border-radius: 0.5rem;
        color: white;
        padding: 1rem;
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
    }
    &-item{
        width: 50%;
        padding: 0.5rem 0;
    }
    &-checkbox{
        width: 0.75rem;
        height: 0.75rem;
        margin-right: 0.25rem;
    }
    &-text{
        font-size: 0.9rem;
    }
}