.field{
    word-break: break-word;
    display: none !important;
    font-size: 1.2rem;
    &.visible{
        display: block !important;
        .date{
            align-items: center;
            &-divider{
                margin-top: 0.2rem;
            }
            &-group{
                // gap: 0.5rem;
                align-items: center;
                margin-left: -0.5rem;
                .field{
                    margin-left: 0.5rem;
                }
            }
            &-month{
                width: 2.2rem;
            }
            &-year{
                width: 2.7rem;
            }
        }
    }
    &.isDisplayWhenHasInformation{
        display: block !important;
    }
    &-input{
        display: block;
        border: none;
        outline: none;
        width: 100%;
        &:focus{
            border-bottom: 1px solid #238983;
        }
    }
    &-icon{
        margin-top: 0.4rem;
        margin-right: 0.4rem;
        height: 0.5rem;
        width: 0.5rem;
        float: left;
    }
    &-bullet{
        display: flex;
        align-items: center;
    }
}