.document-page{
    &-cv{
        margin: 0 auto;
        width: 1200px;
        padding-top: 7.5rem;
    }
    .mini-menu{
        width: 1192px;
        margin: 0 auto;
        position: relative;
        height: 2rem;
        margin: 2rem 0;
    }
    .title{
        z-index: 5;
        position: absolute;
        left: 0;
        user-select: none;
    }
}