.document-page{
    &-cv{
        margin: 0 auto;
        width: 1200px;
        padding-top: 7.5rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transform-origin:top right;
    }
    .mini-menu{
        width: 1192px;
        margin: 0 auto;
        position: relative;
        height: 2rem;
        margin: 2rem 0;
    }
    .title{
        z-index: 5;
        position: absolute;
        left: 0;
        user-select: none;
    }
    @media screen and (max-width: 768px) {
        &-cv{
            padding-top: 15rem;
        }
    }
    @media screen and (max-width: 484px) {
        &-cv{
            padding-top: 25rem;
        }
    }
}