.board{
    min-height: 300px;
    // display: flex;
    // justify-content: center;
    .drag-wrapper{
        display: flex;
        gap: 1rem;
    }
    .drag-n-drop{
        display: grid;
        width: 100%;
        grid-template-columns: 250px 250px;
        margin-left: -0.5rem;
        &.one-column{
            display: block;
            width: 250px;
        }
    }
    .dnd-group{
        background-color: #313B47;
        border-radius: 5px;
        padding: .5rem 0;
        margin-left: .5rem;
        margin-bottom: 1rem;
        &-block{
            margin: .5rem;
        }
    }
    .dnd-item{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        border-radius: 5px;
        background-color: white;
        color: #282c34;
        &-wrapper{
            cursor: pointer;
            &:not(:last-of-type){
                margin-bottom: .5rem;
            }
            &.current{
                .dnd-item{
                    background-color: #282c34;
                }
            }
        }
        &-no-need{
            margin-bottom: .5rem;
            &.current{
                background-color: #282c34;
            }
        }
    }
    .drag-no-need{
        width: 350px;
        height: 350px;
        max-height: 350px;
        background-color: #313B47;
        margin-top: 1rem;
        border-radius: .25rem;
        padding: .5rem;
        overflow-y: auto;
        &-wrapper{
            color: white;
        }
        &-item{
            height: 3rem;
            min-width: 3rem;
            background-color: white;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .25rem;
            font-size: 1rem;
            padding: .5rem;
            float: left;
            margin: 0 .5rem .5rem 0;
            cursor: pointer;
            &.current{
                opacity: .5;
                color: white;
            }
            &.unactive{
                background-color: inherit;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    .group-title{
        color: white;
        margin-bottom: .5rem;
        padding: 0.25rem 0.5rem;
    }
    .current{
        background-color: #282c34;
    }
    @media screen and (max-width: 1000px) {
        .drag-wrapper{
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        .drag-no-need{
            width: 100%;
            &-wrapper{
                width: 100%;
            }
        }
    }
}