.document{
    width: 1200px;
    margin: 0 auto;
    &-wrapper{
        margin-bottom: 5rem;
        min-height: 1000px;
        background-color: #fff;
        padding: 2rem;
        width: 100%;
        display: flex;
        .column{
            &:nth-child(1){
              width: 50%;
              padding: 2rem 2rem 0 2rem;
              float: left;
            }
            &:nth-child(2){
              width: 50%;
              padding: 2rem 2rem 0 1rem;
              float: left;
            }
        }
        &::after{
            content: '';
            display: block;
            clear: both;
        }

        &.one-column{
            .column{
                width: 100%;
            }
        }

        /*combined*/
        &.combined{
            padding: 0 1rem 1rem 1rem;
            &.new.two-column{
                .column:nth-child(2){
                    margin-top: 2rem;
                }
            }
            &.two-column{
                .column{
                    &:nth-child(1){
                        width: 60%;
                    }
                    &:nth-child(2){
                        width: 40%;
                        background-color: #EBEBEB;
                        border-radius: 0.5rem;
                    }
                }
            }
            &.one-column{
                .block{
                    position: relative;
                    &.even{
                        &::before{
                            content: "";
                            position: absolute;
                            width: calc(100% + 4rem);
                            height: 100%;
                            background-color: #EBEBEB;
                            z-index: 0;
                            margin-top: 1rem;
                            margin-left: -2rem;
                            border-radius: 0.5rem;
                        }
                    }
                }
            }
        }
        /*end combined*/


        /*it*/
        &.it, &.tech, &.modern{
            padding: 2rem 0;
            &.two-column{
                .column{
                    &:nth-child(1){
                        width: 70%;
                        padding: 0 3rem;
                    }
                    &:nth-child(2){
                        width: calc(30% - 1rem);
                        background-color: #2B343D;
                        border-radius: 0.5rem;
                        color: white;
                    }
                }
            }
            &.one-column{
                .column{
                    padding: 0 3rem;
                }
            }
            .panel{
                &.right{
                   .block-bar{
                        right: -4.3rem;
                   }
                }
            }
        }
        /*end it*/

        &.tech, &.basic{
            padding: 0.7rem 1rem 1rem 2rem;
            &.two-column{
                .column{
                    &:nth-child(1){
                        width: 65%;
                        padding: 2rem;
                    }
                    &:nth-child(2){
                        width: calc(35% - 0.7rem);
                        background-color: #EBEBEB;
                        color: #2B343D;
                        margin-left: 0.7rem;
                    }
                }
            }
            &.one-column{
                .column{
                    &:nth-child(1){
                        width: 100%;
                        padding: 2rem;
                    }
                }
            }
            .panel{
                &.left{
                   .block-bar{
                        left: -5.3rem;
                   }
                }
            }
        }

        &.basic, &.executive, &.modern, &.professional, &.colleage, &.simple, &.minimalist{
            padding: 2rem;
            &.two-column{
                .column{
                    &:nth-child(1){
                        width: 55%;
                        padding: 0 2rem 0 1rem;
                    }
                    &:nth-child(2){
                        width: 45%;
                        padding: 0 0 0 2rem;
                        margin-left: 0;
                        background-color: inherit;
                    }
                }
            }
            &.one-column{
                .column{
                    &:nth-child(1){
                        width: 100%;
                        padding: 0 2rem 0 1rem;
                    }
                }
            }
            .panel{
                &.left{
                   .block-bar{
                        left: -4.3rem;
                   }
                }
                &.right{
                   .block-bar{
                        left: -2.3rem;
                   }
                }
            }
        }

        &.modern, &.professional, &.colleage, &.simple{
            padding: 2rem 3rem 2rem 2rem;
            &.two-column{
                .column{
                    &:nth-child(2){
                        background-color: inherit;
                        color: #2B343D;
                    }
                }
            }
        }

        &.minimalist, &.skilled_based, &.functional{
            .profile{
                &-avatar{
                    border: 3px solid black;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    &-block{
                        height: 13rem;
                        width: 100%;
                        position: relative;
                        margin-bottom: 5rem;
                    }
                }
                &-social{
                    margin-top: 2rem;
                    margin-bottom: 3.5rem;
                    &__row{
                        width: 50%;
                        float: left;
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                        margin-bottom: 0.5rem;
                    }
                }
            }
            &.two-column{
                padding-left: 0;
                .column{
                    &:nth-child(1){
                        width: 30%;
                        position: relative;
                        padding: 2rem 3rem;
                    }
                    &:nth-child(2){
                        width: 70%;
                        padding-left: 4rem;
                        padding-top: 2rem;
                        padding-bottom: 2rem;
                    }
                }
            }
            .panel{
                &.right{
                   .block-bar{
                        right: -3.3rem;
                   }
                }
            }
            .divider{
                position: absolute;
                right: 0;
                width: 0.15rem;
                background: #BFC2C4;
                height: 100%;
                top: 0;
                &-wrapper{
                    position: relative;
                    height: 100%;
                }
                &-diamond{
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-bottom-color: #BFC2C4;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    &.top{
                        top: -1rem;
                    }
                    &.bottom{
                        bottom: 0;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        left: -10px;
                        top: 10px;
                        width: 0;
                        height: 0;
                        border: 10px solid transparent;
                        border-top-color: #BFC2C4;
                    }
                }
            }
        }

        &.skilled_based, &.functional{
            .profile{
                &-social{
                    &__wrapper{
                        background-color: #2B343D;
                        padding: 1rem 1rem 0.5rem 1rem;
                        color: white;
                        border-radius: 0.5rem;
                    }
                    &__row{
                        &--txt{
                            margin-left: 0.7rem;
                        }
                    }
                    svg{
                        path {
                            fill: white
                        }
                    }
                }
            }
            &.two-column{
                padding: 1rem;
                .column{
                    &:nth-child(1){
                        background-color: #2B343D;
                        color: white;
                        border-top-left-radius: 0.5rem;
                        border-bottom-left-radius: 0.5rem;
                    }
                }
                .panel{
                    &.left{
                       .block-bar{
                            left: -5.3rem;
                       }
                    }
                    &.right{
                       .block-bar{
                            right: -4.3rem;
                       }
                    }
                }
            }
            &.one-column{
                padding: 0;
                .column{
                    padding: 2rem 3rem;
                }
                .panel{
                    &.left{
                       .block-bar{
                            left: -4.3rem;
                       }
                    }
                }
            }
            .divider{
                width: 0.5rem;
                background: red;
            }
        }

        &.functional{
            .profile{
                &-detail{
                    width: 100%;
                    background-color: #2B343D;
                    padding: 1rem;
                    color: white;
                    float: none;
                    height: 13rem;
                    margin-bottom: 2rem;
                }
                &-avatar{
                    margin-bottom: 2rem;
                    border: 2px solid black;
                    position: relative;
                    left: 0;
                    transform: none;
                    &-block{
                        margin: 0;
                    }
                }
                &-social{
                    &__wrapper{
                        background-color: transparent;
                        color: #2B343D;
                        padding: 0;
                    }
                    &__row{
                        width: 100%;
                        &--txt{
                            margin-left: 0.7rem;
                        }
                    }
                    svg{
                        path {
                            fill: inherit
                        }
                    }
                }
            }
            &.two-column{
                padding-right: 0;
                padding-left: 0;
                .column{
                    &:nth-child(1){
                        background-color: inherit;
                        color: inherit;
                        padding-right: 1rem;
                    }
                    &:nth-child(2){
                        padding-left: 1rem;
                        padding-right: 0;
                    }
                    .panel{
                        padding-right: 2rem;
                        &.left{
                           .block-bar{
                                left: -4.3rem;
                           }
                        }
                        &.right{
                           .block-bar{
                                right: -3.3rem;
                           }
                        }
                    }
                }
            }
        }
    }
}